.nom {
  font-size: xx-large;
  margin-left: 1%;
}
header {
  margin: 0;
  background-color: #b3d7d7;
  display: flex;
  align-items: center;
  margin-bottom: 1%;
}

body {
  background-color: grey;
  margin: 0px;
  font-family: "Roboto";
}
.logo {
  border-radius: 50%;
  width: 5%;
  position: absolute;
  right: 1%;
}
main {
  background-color: grey;
  margin: 0%;
  padding: 0%;
}

.img {
  width: 100px;
  height: 100px;
}
#conteneur {
  display: flex;
  justify-content: space-evenly;
}
#expe {
  background-color: white;
  border-radius: 10px;
  width: 30%;
  padding: 10px;
}
#comp {
  background-color: white;
  border-radius: 10px;
  width: 30%;
  padding: 10px;
}
#forma {
  background-color: white;
  border-radius: 10px;
  width: 30%;
  padding: 10px;
}
#centrer {
  display: flex;
  justify-content: space-between;
}
.txtcentre {
  text-align: center;
}
.sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 600px;
}
section {
  width: 30%;
  margin: 20px;
  margin-top: 0%;
  background-color: bisque;
  border-radius: 8px;
  padding: 10px;
}

h1 {
  margin-left: 30px;
}
.btn_1 {
  text-align: center;
  padding-top: 35px;
}

#section1 {
  background-image: url(/Img/inscription.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#section2 {
  height: fit-content;
  padding: 20px;
  background-color: rgb(218, 216, 216);
}

#section3 {
  padding: 20px;
  padding-top: 10px;
  background-color: rgb(218, 216, 216);
}

article {
  border: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  margin: 30px;
  padding: 25px;
  text-align: center;
  background-color: rgb(118, 154, 193);
}

li {
  list-style-type: "\1F44D";
}

.johnny {
  width: 250px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 3px;
  border-color: chartreuse;
  border-style: solid;
}
.btn_inscription {
  font-size: 2rem;
  color: white;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgb(28, 165, 49);
  border-radius: 5px;
  border: 0px;
}

.btn_inscription:hover {
  color:  rgb(186, 67, 67);
  
  
}

.label_font {
  font-size: 1.5rem;
}

.p1 {
  display: inline-block;
  margin-left: 10px;
  text-decoration: underline;
}
