* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }

  body {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 60px;
    background: #222;
  }

  .logo {
    flex: 1;
    height: 50px;
    margin-left: 10px;
  }

  .btn_switch {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 5px;
  }
  
  .btn_switch item {
    margin: 0px 5px 0px 5px;
  }

  .caclasse {
    background-color: rgb(82, 82, 82);
    color: white;
    border-radius: 40px;
    height: 4vh;
    border: 0;
    padding: 0px 10px;
  }
  
  .caclasse:hover {
    color: #222;
    background-color: white;
  }

  nav {
    background: #a0a0a0;
    display: flex;
    height: 30px;
  }
  
  .btn_nav {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 40px;
  }
  
  .btn_nav a button {
    border: 0;
    width: 75px;
    height: 30px;
    background: #a0a0a0;
  }
  
  .btn_nav a button:hover {
    color: #a0a0a0;
    background-color: #222;
  }
  
  .searchbar {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0px 10px 0px 10px;
  }

main {
    flex: 1;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
  background-color: black;
  color: white;
}


.Blog {
  text-align: center;
  margin: 8px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-radius: 2rem;
}

.htitre {
  background-color: #0074d9;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    display: flex;
    flex-direction: column;
}

.gtitre {
  text-align: center;
  color: white;
}

#imgpost {
  background-color: black;
}

#sub1 {
  order: 1;
  background-color: #4b4b4b;
  width: 59%;
  text-align: center;
  border-radius: 2rem;
  box-sizing: border-box;
}

#btnlik {
  background-image: url(/Img/bouton_like.png);
  background: none;
  border-radius: 100%;
  border: none;
}

#btncom {
  background-image: url(/Img/bouton_commente.png);
  background: none;
  border: none;
}

figure {
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
}

#sub2 {
  width: 18%;
  order: -1;
  background-color: #4b4b4b;
  text-align: center;
  border-radius: 2rem;
}

#sub3 {
  order: 1;
  background-color: #4b4b4b;
  width: 20%;
  border-radius: 2rem;
  text-align: left;
}

.divami {
  box-sizing: border-box;
  border: 4px solid rgb(144, 143, 143);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h4 {
  text-align: center;
}

.imgProf {
  width: 20%;
  margin: 3px;
}

.hrami{
  border: 2px solid rgb(144, 143, 143);
}

#pvert {
  width: 10%;
}

footer {
    background-color: #222;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  
  footer a button {
    color: rgb(194, 180, 180);
    border: 0;
    background-color: #222;
    height: 40px;
    width: 100px;
  }
  
  footer a button:hover {
    background-color: rgb(194, 180, 180);
    color: #222;
  }
