/* TOUTE LA PAGE */

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

/* HEADER */

/* PARTIE HAUTE */

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 60px;
  background:rgb(205, 195, 146) ;
}

.logo {
  flex: 1;
  height: 50px;
  margin-left: 10px;
}

.btn_switch {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 5px;
}

.btn_switch item {
  margin: 0px 5px 0px 5px;
}

.caclasse {
  background-color: rgb(232, 229, 218);
  color: #222;
  border-radius: 40px;
  height: 4vh;
  border: 0;
  padding: 0px 10px;
}

.caclasse:hover {
  color: rgb(241, 113, 5);
  background-color: white;
}

/* NAVBAR */

nav {
  background-color: rgb(232, 229, 218);
  display: flex;
  height: 30px;
}

.btn_nav {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.btn_nav a button {
  border: 0;
  width: 75px;
  height: 30px;
  background: rgb(232, 229, 218);
}

.btn_nav a button:hover {
  color:rgb(241, 113, 5);
  background-color: rgb(205, 195, 146);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: rgb(232, 229, 218);
  border: 2px;
  width: 75px;
  height: 30px;
  flex: 1;
  text-align: center;
}

.dropbtn:hover {
  background-color: rgb(205, 195, 146);
  color: rgb(241, 113, 5);
}

.dropctn {
  display: none;
  position: absolute;
  background-color: #a0a0a0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(205, 195, 146);
  z-index: 1;
}

.dropctn a {
  color: rgb(241, 113, 5);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropctn a:hover {
  background-color: rgb(232, 229, 218);
}

.dropdown:hover .dropctn {
  display: block;
  background-color: rgb(205, 195, 146);
}

.searchbar {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

/* MAIN */

main {
  flex: 1;
  
}



/* FOOTER */

footer {
  background-color:rgb(205, 195, 146);
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

footer a button {
  color: #222;
  border: 0;
  background-color: rgb(205, 195, 146);
  height: 40px;
  width: 100px;
}

footer a button:hover {
  background-color: rgb(232, 229, 218);
  color: rgb(241, 113, 5);
}
