body {
  margin: 0;
}

main {
  background-color: rgb(204, 204, 189);
}

.trollface {
  width: 150px;
  height: 100px;
}

.x {
  animation: x 2.6s linear infinite alternate;
}

.y {
  animation: y 0.8s linear infinite alternate;
}

@keyframes x {
  100% {
    transform: translateX( calc(100vw - 120px) );
  }
}

@keyframes y {
  100% {
    transform: translateY( calc(100vh - 295px) );
  }
}

main p {
  text-align: center;
  font-size: 200%;
  margin-top: 20px;
}