main {
  background-image: url(../Img/profil_colon/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.profil {
  background-color: #a0a0a0af;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: fit-content;
}

.post {
  background-color: #a0a0a0af;
  flex: 2;
}

.sidebar {
  background-color: #a0a0a0af;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: fit-content;
}

.mrg_10 {
  margin: 10px;
}

.mrg_20 {
  margin: 20px;
}

.mrg_top_10 {
  margin-top: 10px;
}

.mrg_bot_20 {
  margin-bottom: 20px;
}

.mrg_l_10 {
  margin-left: 10px;
}

.bor_rad_10 {
  border-radius: 10px;
}

.pad_lr_15 {
  padding: 0px 15px 0px 15px;
}

.pad_r_15 {
  padding-right: 15px;
}

.txt_dec {
  text-decoration: underline;
}

.txt_dec_no {
  text-decoration: none;
}

.img_ba {
  width: 280px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.separator {
  margin: 20px;
  height: 10px;
  width: 200px;
  background: #111;
}

.separator_2 {
  margin: 10px 0px 10px 0px;
  height: 5px;
  width: 300px;
  background: #111;
}

.pp {
  width: 125px;
  margin-bottom: 10px;
}

.spotify {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.bandcamp {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.fav {
  display: flex;
  flex-direction: column;
}

.href {
  text-decoration: none;
  color: #2e3194;
}

.href1 {
  color: #222;
}

.href:hover {
}

.sidebar h4 {
  margin-top: 15px;
}

.post {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.band_name {
}

.band_logo {
  width: 400px;
}

.band_description {
  padding: 0px 20px 0px 20px;
  margin: 20px 0px 20px 0px;
}

.p_genre {
  font-style: italic;
}

/* COMMENT SECTION */

.container {
  width: 250px;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 15px 10px;
  margin-bottom: 30px;
  background-color: #aaa;
}
.container h4 {
  text-align: center;
  margin-bottom: 15px;
}
.textarea_comment {
  height: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #e7dede;
  background-color: transparent;
  margin-bottom: 10px;
  resize: none;
  outline: none;
  transition: 0.5s;
}

input .comment,
.btn_comment {
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
input .comment {
  color: #fff;
  background-color: #273c75;
}
.btn_comment {
  color: #333;
  background-color: transparent;
}
.btn_div {
  display: none;
}

/* POPUP */

.modal {
  /* padding: 1em; */
  max-width: 50ch;
  /* border: 0;
   box-shadow: 0 0 1em rgb(0 0 0 / .3); */
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

.button2 {
  padding: 4px;
  margin-top: 15px;
  border: 2px solid;
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;
}

.button:hover,
.button:focus {
  background: var(--cyan-9);
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  border-color: #fff;
  background-color: #a0a0a0;
}

dialog p {
  margin-top: 15px;
}

dialog h2 {
  text-align: center;
}
