main {
  background-image: url(../Img/profil_colon/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.profil {
  background-color: #a0a0a0af;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: fit-content;
}

.post {
  background-color: #a0a0a0af;
  flex: 2;
}

.sidebar {
  background-color: #a0a0a0af;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.mrg_10 {
  margin: 10px;
}

.mrg_20 {
  margin: 20px;
}

.mrg_top_10 {
  margin-top: 10px;
}

.bor_rad_10 {
  border-radius: 10px;
}

.pad_r_15 {
  padding-right: 15px;
}

.separator {
  margin: 20px;
  height: 10px;
  width: 200px;
  background: #111;
}

.separator_2 {
  margin: 10px 0px 10px 0px;
  height: 5px;
  width: 300px;
  background: #111;
}

.pp {
  width: 125px;
  margin-bottom: 10px;
}

.spotify {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  
}

.bandcamp {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.fav {
  display: flex;
  flex-direction: column;
}

.href {
  text-decoration: none;
  color: chartreuse;
}

.href:hover {
}

.sidebar h4 {
  margin-top: 15px;
}

.post {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.band_name {
}

.band_logo {
  width: 400px;
}

.band_description {
  padding: 0px 20px 0px 20px;
  margin: 20px 0px 20px 0px;
}

.p_genre {
  font-style: italic;
}
