nav{
    background-color: rgb(33, 33, 33);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
div{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
header{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
body{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
footer{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.caclasse{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: rgb(82, 82, 82);
    color: white;
    border-radius: 50%;
    width: 10%;
    height: 35px;
}

main{
    font-family: "Comic Sans MS", "Comic Sans", cursive;    
}

button{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
input{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  